{% extends 'base.html'%}{% block content %}

<h2>Ticket</h2>
<p>{{ ticket.author }}! a publié ce ticket.</p>
<p>Le {{ ticket.date_created }}</p>
<div class="grid-container">
  <div class="post">
    <h3>{{ ticket.title }}</h3>
    <p>{{ ticket.description }}</p>
    {% if ticket.image %}
      <img src="{{ ticket.image.url }}" />
    {% else %}
      <p>Aucune image</p>
    {% endif%}
    {% if request.user == ticket.author %}
      <p><a href="{% url 'edit_ticket' ticket.id %}">Modifier le ticket</a></p>
    {% endif %}
  </div>
</div>
{% endblock content %}
