{% extends 'base.html'%}{% block content %} {% load static %}
<title>Page d'accueil</title>

<h2>Flux</h2>
<div class="grid-container">
  <div class="btn-head">
    <button class="btn">
      <a href="{% url 'create_ticket' %}">Demander une critique</a>
    </button>
    <button class="btn">
      <a href="{% url 'create_review' %}">Créer une critique</a>
    </button>
  </div>
  {% for ticket in tickets %}
  <div class="tickets">
    <a href="{% url 'view_ticket' ticket.id %}">
      <div class="header-ticket">
        <p>{{ ticket.author|upper }} a demandé une critique.</p>
        <p>Le {{ ticket.date_created }}</p>
      </div>
      <h4>{{ ticket.title }}</h4>
      <p>{{ ticket.description }}</p>
      {% if ticket.image %}
      <img src="{{ ticket.image.url }}" />
      {% else %}
      <p>Aucune image</p>
      {% endif %}
    </a>
    <p></p>
    <button class="btn btn-critique">
      <a href="{% url 'create_review_from_ticket' ticket.id %}"
        >Créer une critique</a
      >
    </button>
  </div>
  {% endfor %}
  <div class="grid-container">
    {% for review in reviews %}
    <div class="tickets">
      <a href="{% url 'update_review' review.id %}">
        <div class="header-ticket">
          <p>{{ review.author|upper }} a posté une critique.</p>
          <p>Le {{ review.date_created }}</p>
        </div>
        <h4>{{ review.title }}</h4>
        <p>{{ review.comment }}</p>
        <div class="stars">
          {% if review.rating == 1 %}
          <i class="fas-stars">⭐</i>
          {% elif review.rating == 2 %}
          <i class="fas-stars">⭐⭐</i>
          {% elif review.rating == 3 %}
          <i class="fas-stars">⭐⭐⭐</i>
          {% elif review.rating == 4 %}
          <i class="fas-stars">⭐⭐⭐⭐</i>
          {% elif review.rating == 5 %}
          <i class="fas-stars">⭐⭐⭐⭐⭐</i>
          {% endif %}
        </div>
      </a>
      <p></p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
