{% extends 'base.html'%}{% block content %}

<h2>Modifier le ticket</h2>
<div class="grid-container">
  <div class="tickets">
    <form method="post" enctype="multipart/form-data">
      {{ edit_form.as_p }} {% csrf_token %}
      <button type="submit">Sauvegarder</button>
    </form>

    <hr />

    <h3>Supprimer le ticket</h3>
    <p>Êtes-vous sûr de vouloir supprimer ce ticket ?</p>
    <form action="" method="post">
      {{ delete_form }} {% csrf_token %}
      <button type="submit">Supprimer</button>
    </form>
  </div>

  {% endblock content %}
</div>
