{% load static %}
<html lang="fr">
  <head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="https://kit.fontawesome.com/5adfeca06f.js" crossorigin="anonymous"></script>
    <title>LITReview</title>
  </head>
  <body>
    <header>
      {% if user.is_authenticated %}
      <h1>LITReview</h1>
      <div class="nav-bar">
        <a href="{% url 'flux-page' %}">Flux</a>
        <a href="{% url 'logout' %}">Posts</a>
        <a href="{% url 'follow_users' %}">Abonnements</a>
        <a href="{% url 'logout' %}">Se Déconnecter</a>
      </div>
      {% endif %}
    </header>
    {% if user.is_authenticated %}
    <h3 class="mx-3">Bienvenue {{ request.user|upper }}, vous êtes connecté !</h3>
    {% endif %}
    
    <section class="container">
      {% block content %} {% endblock content %}
    </section>
  </body>
</html>
