{% load flux_extras %}

<div class="tickets">
  <div class="header-ticket">
    <p>{{ review.author|upper }} a posté une critique.</p>
    <p>Le {{ review.date_created }}</p>
  </div>
  <h4>{{ review.title|upper }}</h4>
  <p>{{ review.comment }}</p>
  <div class="stars">
    {% if review.rating == 1 %}
    <i class="fas-stars">⭐</i>
    {% elif review.rating == 2 %}
    <i class="fas-stars">⭐⭐</i>
    {% elif review.rating == 3 %}
    <i class="fas-stars">⭐⭐⭐</i>
    {% elif review.rating == 4 %}
    <i class="fas-stars">⭐⭐⭐⭐</i>
    {% elif review.rating == 5 %}
    <i class="fas-stars">⭐⭐⭐⭐⭐</i>
    {% endif %}
  </div>
  <p></p>
  {% if instance.ticket %}
  <div class="tickets">
    <div class="header-ticket">
      <p>{{ instance.ticket.author|upper }}</p>
      <p>{{ instance.ticket.date_created }}</p>
    </div>
    <h4>{{ instance.ticket.title }}</h4>
    <p>{{ instance.ticket.description }}</p>
    {% if instance.ticket.image %}
    <img src="{{ instance.ticket.image.url }}" />
    {% else %}
    <p></p>
    {% endif %}
    <p></p>
  </div>
  {% endif %}
    {% if request.user == instance.author %}
    <button class="btn btn-critique">
      <a href="{% url 'update_review' instance.id %}">Modifier</a>
    </button>
    {% endif %}
</div>
