{% extends 'base.html'%} {% load flux_extras %} 
{% load static %}
{% block content %} 
<title>Posts</title>

<h2>Posts</h2>
<div class="grid-container">
  {% for instance in page_obj %} 
    {% if instance|model_type == 'Ticket' %}
      {% include 'website/partials/post_ticket_snippet.html' with ticket=instance %}
    
    {% elif instance|model_type == 'Review' %} 
      {% include 'website/partials/post_review_snippet.html' with review=instance %}
    {% endif %} 
  {% endfor %}
</div>
<span class="paginator">
  {% if page_obj.has_previous %}
      <a href="?page=1">« première</a> |
      <a href="?page={{ page_obj.previous_page_number }}">précédente</a>
  {% endif %}

  <span>
      Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.

  </span>
  {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">suivante</a> |

      <a href="?page={{ page_obj.paginator.num_pages }}">dernière</a>
  {% endif %}
</span>
{% endblock content %}
