{% extends 'base.html'%}{% block content %} {% load static %}

{% if review.author == request.user %}
<h2>Modifier l'avis</h2>
<div class="grid-container">
  <div class="tickets">
    <form method="post" enctype="multipart/form-data">
      {{ review_form.as_p }} {% csrf_token %}
      <button class="btn" type="submit">Sauvegarder</button>
    </form>

    <hr />

    <h3>Supprimer l'avis</h3>
    <p>Êtes-vous sûr de vouloir supprimer cet avis ?</p>
    <form action="" method="post">
      {{ delete_review }} {% csrf_token %}
      <button class="btn" type="submit">Supprimer</button>
    </form>
  </div>
  {% endif %}

  {% endblock content %}
</div>
