{% extends 'base.html'%} {% load static %} {% block content %}
<h2>Connectez-vous</h2>
<div class="container-auth">
  <p>{{ message }}</p>
  <form action="" method="post">
    <p class="username">Nom d'utilisateur :{{ form.username }}</p>
    <p class="password">Mot de passe :{{ form.password }}</p>
    {% csrf_token %}
    <button type="submit" class="btn">Se connecter</button>
  </form>
  <div class="subscribe">
    <p>Pas encore membre ?</p>
    <button class="btn">
      <a href="{% url 'signup' %}">Inscrivez-vous maintenant!</a>
    </button>
  </div>
</div>
{% endblock content %}
